body{
    background-image: url(https://i.pinimg.com/originals/f7/54/cc/f754cc850d1b0eb55caec0fcd56bf4fd.gif);
    background-size: cover;
    background-repeat: no-repeat;
   
}

.container {
    display: flex;
    justify-content: flex-end; /* Alinea los formularios a la derecha */
    align-items: center;
}

.form-container {
    width: 300px; 
    padding: 20px;
}

h1{
    font-size: xx-large;
    color: white;
}